@charset "UTF-8";

/*----------- GENERIC ---------------*/
html{
	font-family: "Raleway", "Helvetica Neue", Arial, sans-serif;
	line-height: 1.5;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 16px;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: transparent;
	}
*,
*::before,
*::after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
	}
@-ms-viewport {
	width: device-width;
	}
body{
	font-family: "Raleway", "Helvetica Neue", Arial, sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	color: #fff;
	background-color: #ddd;
	padding:0;
	margin:0;
	}


.frontpage-block{
    padding: 0;
    position: relative;
    float: left;
	width: calc(100% - 100px);
	height: 110px;
    background-color: #fff;
    margin: 50px;
    border-radius: 10px;
    }


@media(max-width:767px) {
	.frontpage-block{
		height: 100px;
		margin: 10px;
   		width: calc(100% - 20px);
	}
}


@media(min-width:1024px) and (max-width:1279px){
	.frontpage-block{
		height: 160px;
	}
}


@media(min-width:1280px){
	.frontpage-block{
		height: 160px;
	}
}


